@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.w-20 {
  width: 7rem;
}
.selected-outline {
  outline: 1px solid #E2545E; /* Customize as needed */
}
/* body{
  overflow: hidden;
} */
